* {
    padding: 0;
    margin: 0;
    user-select: none;
    transition: 0.5s;
    z-index: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dark * {
    color: white !important;
}

#options > div:hover .rowOption {
    right: 0;
}

.p-padding {
    padding-left: 3%;
}

.dark .errorMessage {
    box-shadow: none !important;
    background-color: #202020;
}

@keyframes notification {
    0% {
        width: 0px;
    }
    100% {
        width: 270px;
    }
}

.notShowNotification {
    animation-name: notificationClose !important;
    animation-duration: 1s !important;
}

@keyframes notificationClose {
    0% {
        width: 270px;
    }
    100% {
        width: 0px;
    }
}

#gitDiv {
    left: 108px;
}

#github #gitImg {
    left: 0 !important;
}

.text-option {
    position: absolute;
    left: 111px;
}

.dark {
    background-color: rgb(0, 0, 0) !important;
}

#intro {
    color: white;
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

html {
    overflow-x: hidden;
}


#intro > img {
    width: 20%;
    max-width: 117px;
    position: relative;
    top: -2%;
}

#intro > h3 {
    padding: 5px;
}

#inline-div {
    position: relative;
    left: 10px;
}

#inline-div > * {
    display: inline-block;
}

#idioma-text {
    transition: 1s;
}

#inline-div > p {
    padding: 5px;
    font-size: 10px;
    color: rgb(175, 175, 175);
}

#loading {
    position: absolute;
    bottom: 0;
    z-index: 11;
    left: 0;
    width: 100%;
    opacity: 0;
    padding: 0;
    margin: 0;
    height: 1%;
    background-color: rgb(98, 0, 255);
    animation-name: loading;
    animation-duration: 3s;
    animation-delay: 2s;
    transition: 1s;
}

#intro-transition {
    animation-name: intro-transition;
    opacity: 0;
    z-index: 200;
    animation-duration: 6s;
    transition: 1s;
    animation-name: desvanecimiento;
}


#loading::after {
    content: '70%';
    margin-top: -30px;
    position: absolute;
    right: 0;
    color: white;
    transition: 1s;
    animation-name: after;
    animation-duration: 3s;
    animation-delay: 2s;
}


.hideDown {
    opacity: 0;
    animation-duration: 1s;
    animation-name: hideDown;
}

.showUp {
    animation-duration: 1s;
    animation-name: showUp;
}

.hidden {
    display: none !important;
}

.over {
    text-align: center;
    font-weight: 300;
    top: 0;
    display: block;
}


#idioma-text-es, #idioma-text-en {
    text-align: center;
    display: block;
}

#idioma-text-en {
    top: -22px;
    position: relative;
}


#center-flex {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
}

#configure {
    padding-left: 7px;
}


#options {
    max-width: 600px;
    width: 90%;
    flex-direction: column-reverse !important;
    max-width: 600px;
    perspective: 249px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 7%;
    position: relative;
    top: 30px;
    animation-name: show-options;
    animation-duration: 6.5s;
}

#options .optionIMG {
    height: 80px;
    z-index: 0 !important;
    animation-delay: 6s;
    animation-duration: 1.5s;
    animation-name: intro-options;
    position: absolute;
    left: 10px;
}

.dark .rowOption {
    filter: invert();
}

.rowOption {
    width: 30px;
    height: unset !important;
    position: absolute;
    right: 20px;
}

#options > div:hover .optionIMG {
    transform: scale(1.1);
}

.dark #options > div:hover {
    background-color: rgb(24, 24, 24);
}

#options > div {
    margin-bottom: 5px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    position: relative;
}

#first-display {
    position: relative;
    top: -50px;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#theme {
    width: 25px;
    height: 25px;
}

#theme-button {
    width: 25px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.translate {
   transform: translateX(50px);
}

#theme {
    position: relative;
    transition: 0.5s;
}

.notShowing {
    opacity: 0;
}

#second-display {
    position: relative;
    animation-name: intro-clear;
    animation-duration: 1s;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

#node {
    width: 100%;
    max-width: 260px;
    animation-name: node;
    animation-duration: 3s;
}

#second-display {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#second-display h4, #four-display h4 {
    font-weight: 300;
    font-size: 17px;
    margin-bottom: 7px;
}

#textFinish p {
    opacity: 0.7;
    margin-top: 10px;
}

#second-display p {
    text-align: justify;
    margin-left: 20px;
}

#image {
    display: flex;
    justify-content: center;
    width: 50%;
}

@media (max-width: 700px) {
    #wifiLogo {
        display: none;
    }

    #third-display {
        flex-direction: column;
    }

    .third-element {
        height: 50%;
    }

    #third-text {
        width: 100% !important;
        top: 50px !important;
        align-items: unset !important; 
        justify-content: unset !important; 
        flex-direction: unset !important; 
        align-content: unset !important; 
        flex-wrap: unset !important;
        height: 20%;
        padding-left: unset !important;
        padding-right: unset !important;
    }

    .text-zone {
        position: relative;
        top: 30%;
        width: 80%;
        padding-left: 10%;
    }
    #networks > div {
        width: 100%;
        height: 80% !important;
    }

    #networks {
        position: absolute;
        justify-content: flex-start !important;
        width: 100%;
        height: 70%;
        bottom: 0;
    }
}

@media (min-width: 600px) {
    .modal {
        width: 70% !important;
        max-width: 500px;
    }

    #sensorTHpage {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    #wifiPasswordModal {
        max-width: 400px;
    }

}


#showHiddenPassword {
    right: 20px !important;
    left: unset !important;
    position: absolute !important;
    bottom: unset !important;
}


#passwordWifi {
    left: -7px;
}

.dark #finishGif {
    filter: hue-rotate(203deg) invert(1);
}

#finishButton {
    width: 100px;
    height: 27px;
    border: none;
    position: relative;
    top: 15px;
    background-color: #333333;
    color: white;
}

@media (max-width: 600px) {

    #showHiddenPassword {
        position: absolute;
        top: 46%;
        right: 14px !important;
        left: unset;
    }

    #passwordWifi {
        left: -10px;
    }

    #sendData {
        right: unset !important;
    }

    #showHiddenPasswordUser {    
        right: 11px !important;
    }
    .sensorData {
        top: 0px !important;
    }

    #temperatureGraphic {
        top: 85px;
    }

    #humidityGraphic {
        top: 47px;
    }

    #connectWifiButton {
        right: unset !important;
    }
}


#humidityGraphic {
    background: linear-gradient(0deg, rgb(67, 67, 255) 50%, rgb(158, 158, 255, 0.179) 50%);
}


@media (max-width: 880px) {
    #second-display {
        flex-direction: column;
    }
    #circuit-text > h4 {
        margin-top: 30px;
    }
    #circuit-text {
        padding-left: unset !important;
        padding-right: unset !important;
    }
    #pinout {
        animation-name: down;
        transform: rotateZ(90deg);
        transition: 0.5s;
        width: 300px !important;
    }

    #circuit-text {
        position: relative;
        top: 8%;
    }
}

/* ::after { */
    /* animation-duration: 1s;
    animation-name: parpito;
    animation-iteration-count: infinite;
} */


.pinout::before, .pinout::after {
    animation-name: downWire;
    animation-timing-function: cubic-bezier(1,-0.02, 0.93, 0.63);
    animation-duration: 3s;
}


@media (max-width: 530px) {
    #node {
        width: 238.5px;
    }
    .pinout::before {
        margin-left: 47px !important;
    }
    .pinout::after {
        margin-left: -113px !important;
    }

    #circuit-text {
        margin-left: 30px;
        margin-right: 30px;
    }

    #test {

    }



}



#circuit-text {
    max-width: 350px;
    padding-left: 10%;
    padding-right: 10%;
}

#circuit-text * {
    font-weight: 300;
}

#circuit-text > p {
    opacity: 0.7;
}

#red {
    color: red;
    font-weight: 600;
}

#blue {
    color: rgb(0, 0, 213);
    font-weight: 600;
}

.pinout::after {
    content: '';
    margin-top: 1px;
    border-radius: 5px;
    margin-left: -123px;
    margin-top: -60px;
    width: 7px !important;
    height: 80px !important;
    position: absolute;
    background: linear-gradient(transparent 20%, red);
}

.pinout::before {

    content: '';
    border-radius: 5px;
    margin-top: -60px;
    margin-left: 52px;
    width: 7px !important;
    height: 80px !important;
    position: absolute;
    background: linear-gradient(transparent 20%, blue)
}

#div-next {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.row {
    width: 25px;
    transition: 1s;
    animation-name: intro-clear;
    animation-duration: 0.5s;
}

.dark .row {
    filter: invert();
}

#test {
    position: relative;
    left: 20px;
    border: none;
    background-color: #333333;
    top: 27px;
    color: white;
    padding: 10px 15px;
}

#test:hover {
    background-color: #616161;
}

.backModal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.623);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}

.close {
    font-size: 20px;
    width: 40px;
    z-index: 7;
    height: 25px;
    transition: 0.5s;
    position: absolute;
    float: left;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.close:hover {
    color: white;
}

.dark .close {
    color: white;
}

.close:hover {
    background-color: red;
}

.modal {
    position: relative;
    width: 300px;
    animation-name: modal;
    animation-duration: 0.5s;
    height: 300px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.dark .modal {
    background-color: rgb(34, 34, 34);
}


.hiddenAnimation {
    animation-name: hiddenAnimation;
    animation-duration: 0.3s;
}

.hiddenBack {
    animation-name: desvanecimiento2;
    animation-duration: 0.3s;
}


.loading > img {
    width: 50px;
}


#sensorsSelector {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: flex;
}

.option {
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.dark .option img {
    filter: brightness(3);
}

.optionSelected::after {
    content: "";
    width: 5px;
    height: 5px;
    background-color: rgb(98, 0, 255);
    border-radius: 50%;
    position: relative;
    top: 7px;
}

.option img {
    height: 17px;
}

.page {
    display: flex;
    width: 100%;
    position: absolute;
    top: 0;
    height: 250px;
}

.li {
    z-index: 2;
}

.childLi {
    z-index: 1;
}

#loadingNetworks {
    display: flex;
    align-items: center;
    justify-content: center;
}



#sensorPIRpage {
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
}

.text-zone h4 {
    font-size: 17px;
    margin-bottom: 7px;
    font-weight: 300;
}

#wifiLogo {
    width: 100px;
}

.text-zone div {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

#networks {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#networks div {
    overflow-y: auto;
    overflow-x: hidden;
}


#networks div::-webkit-scrollbar {
    -webkit-appearance: none;
}

#networks div::-webkit-scrollbar:vertical {
    width:5px;
}

#networks div::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

#networks div::-webkit-scrollbar:horizontal {
    height: 10px;
}

#networks div::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
}

#networks div::-webkit-scrollbar-track {
    border-radius: 10px;  
}

#networks ul li {
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

#networks ul li:hover {
    background-color: rgba(128, 128, 128, 0.164);
    padding-left: 10px;
}

#networks ul li p {
    margin-left: 20px;
}

.dark #networks ul li img {
    filter: invert();
}

#networks ul li img {
    width: 30px;
}


#networks ul {
    list-style: none;
}

#loadingReboot {
    padding-right: 17px;
}

 li:hover .lock {
    padding-right: 10px;
}

.lock {
    position: absolute;
    right: 20px;
    width: 16px !important;
}




#addNetwork img {
    width: 13px;
    filter: contrast(0.4);
}

#addNetwork {
    top: 27px !important;
    transition: 0.4s;
    position: relative;
}

#addNetwork:hover {
    padding-right: 10px;
}

#addNetwork:hover img {
    transform: scale(1.2);
}


#titleWifiWithPassword {
    left: 27px !important;
}

#formWifi  {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#divPassword > img {
    filter: contrast(0.2);
    position: relative;
    bottom: 1px;
}

#passwordWifi, #userInput, #passwordInput {
    width: 71%;
    height: 34px;
    padding-left: 12px;
    top: -2px;
    position: relative;
    border: none;
    background-color: #88888833;
}

#formUser {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#userAndPasswordModal {
    height: 237px;
    width: 339px;
}

#passwordWifi:focus-visible, #passwordInput:focus-visible, #userInput:focus-visible {
    outline: none !important;
}

#divPassword {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}



#showHiddenPasswordUser {
    position: absolute !important;
    bottom: 37% !important;
    right: 25px;
    left: unset !important;
}

#sendData {
    position: absolute;
    bottom: 24px;
    width: 130px;
    height: 27px;
    border: none;
    background-color: #80808033;
    right: 9%;
}

#passwordInput {
    top: 7px;
}

#divPassword > img {
    width: 20px;
    position: relative;
    left: 3.5%;
}

#refresh img {
    width: 13px;
}

#refresh {
    transition: 0.4s;
    position: relative;
}

#refresh:hover {
    padding-right: 10px;
}

#refresh:hover img {
    transform: rotateZ(180deg);
}

#networks > div {
    width: 80%;
    height: 60%;
}

#networks > p {
    position: relative;
    width: 100%;
    right: 10%;
    top: 20px;
    text-align: end;
}

.text-zone div img {
    filter: contrast(0.5);
}

.text-zone p {
    opacity: 0.7;
    text-align: justify;
    font-weight: 300;
}

#sensorTHpage {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.third-element {
    display: flex;
}

#third-text {
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    top: -30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
}

#reboot-display > div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: row;
}


.dark #reboot-display {
    background-color: black;
    color: white;
}

 #reboot-display {
    animation-name: desvanecimientoRevertido;
    animation-duration: 1s;

    display: flex;
    flex-wrap: nowrap;
    z-index: 10;

    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

#third-display, #four-display, #reboot-display {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#finishGif {
    width: 85%;
    text-align: center;
}

#sendData:disabled {
    color: grey !important;
}

@media (min-width: 680px) and (max-width: 900px) {
    #textFinish {
        padding-left: 10% !important;
    }
}
@media (max-width: 680px) {
    #four-display {
        display: flex;
        flex-direction: column-reverse !important;
        justify-content: center !important;
        align-items: center !important;
        align-content: center !important;
        flex-wrap: nowrap !important;
    }

    #textFinish {
        width: 80% !important;
        text-align: justify;
    }

    #textFinish h4 {
        left: unset !important;
    }

    #finishGif {
        max-width: 400px;

    }
    #textFinish {
        padding-left: unset !important;
    }
}

#textFinish > h4 {
    position: relative;
    left: -20px;
}

#finishImg {
    text-align: center;
}

#textFinish {
    width: 400px;
    padding-left: 5%;
    text-align: justify;
}

#four-display {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.third-element {
    width: 100%;
    height: 100%;
}

#try {
    padding: 5px 10px;
    background: #6a6a6a;
    color: white;
    position: relative;
    top: 14px;
}

#try:hover {
    background-color: grey;
}

#errorSensorPage {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 22px;
}

#errorSensorPage > img {
    width: 100px;
}

#sensorPIRpage #motionText {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    position: relative;
    top: 35px;
}

#motion-detect {
    filter: invert(0.5);
    width: 110px;
    height: fit-content;
    animation-name: parpito;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}



.circular-graphic {
    width: 8rem;
    height: 8rem;
    transition: 0.5s;
    top: 30px;
    background: linear-gradient(0deg, rgb(255, 174, 0) 50%, rgba(255, 212, 118, 0.179) 50%);
    border-radius: 50%;
    transform: rotate(calc(var(--angule)));   /*+*/
    margin: auto;
    position: relative;
}



.circular-graphic::before {
    width: 8rem;
    height: 8rem;
    position: absolute;
    transition: 0.5s;
    top: 0;
    left: 0;
    transform: rotate(calc(var(--angule) * -1));      /*-*/
    background: white content-box;     /*  Ignora el padding */
    border-radius: 50%;
    padding: .5em;
    box-sizing: border-box;
    text-align: center;
    line-height: 6rem;
}

.circular-graphic::after {
    content: "";
    width: 8rem;
    height: 8rem;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(transparent 50%, white 50%);
    transform: scale(1.1rem);
    text-align: center;
    transform: rotate(calc(var(--angule) * -1));  /*-*/
    transition: 0.5s;
    line-height: 4.5rem;
}

.circular-graphic::before {
    font-size: 12px !important;
    content: var(--text);
}

.sensorData {
    position: relative;
    top: 24px;
}

.title {
    position: absolute;
    top: 35px;
    left: 30px;
}

.subtitle {
    opacity: 0.5;
    position: absolute;
    top: 55px;
    left: 31px;
    font-size: 13px;
}



#connectWifiButton {
    width: 100px;
    height: 27px;
    border: none;
    bottom: 27px;
    position: absolute;
    background-color: #80808033;
    right: 9%;
}

.dark .circular-graphic::before {
    background-color: rgb(34 34 34);
}

#wifiPasswordModal {
    height: 190px;
    flex-direction: column;
}

#centerMessage {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.errorMessage {
    animation-name: notification;
    animation-duration: 1s;
    display: flex;
    width: 270px;
    height: 50px;
    box-shadow: 1px 1px 10px grey;
    padding: 5px;
    background-color: white;
    border-left: 2px solid red;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}

#error {
    font-size: 15px;
    position: relative;
    left: 50px;
    text-overflow: ellipsis;
}

#errorImg {
    filter: sepia(1) hue-rotate(296deg);
    width: 30px;
    position: absolute;
    left: 14px;
}

#errorText {
    position: absolute;
    font-size: 10px;
    left: 12px;
    color: rgb(235, 235, 235);
}
#wifiPasswordModal::after {
    content: var(--messageErrorWifi);
    font-size: 13px;
    color: white;
    width: 100%;
    height: 26px;
    bottom: -28px;
    position: absolute;
    background-color: red;
    text-align: center;
    padding-top: 8px;
}

.dark .circular-graphic::after {
    background: linear-gradient(transparent 50%, rgb(34 34 34) 50%);
}

#motion-detect {
    position: relative !important;
    top: 25px !important;
}

#connectWifiButton:disabled {
    color: grey !important;
}

.hiddenPIR {
    transform: rotateX(90deg);
}

#motionText {
    position: relative;
    transition: 0.5s;
    top: 0px;
}

.detectMotion {
    top: -25px !important;
}

/* Animaciones y transiciones */

@keyframes downWire {
    0% {
        margin-top: -123px;
    }
    100% {
        margin-top: -60px;
    }
}


@keyframes height {
    0% {
        height: 0px;
    }
    100% {
        height: 5px;
    }
}

@keyframes modal {
    0% {
        transform: rotateX(23deg);
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
    }
}


@keyframes hiddenAnimation {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(23deg);
        opacity: 0;
    }
}

@keyframes desvanecimiento2 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes desvanecimiento {
    0% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes desvanecimientoRevertido {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}


@keyframes loading {
    0% {
        width: 0%;
        opacity: 1;
    }

    25% {
        width: 47%;
        opacity: 1;
    }

    50% {
        width: 47%;
        opacity: 1;
    }

    75% {
        width: 75%;
        opacity: 1;
    }

    100% {
        width: 100%;
        opacity: 0;
    }
}

@keyframes after {
    0% {
        content: '0%';
    }

    25% {
        content: '47%';
    }

    50% {
        content: '47%';
    }

    75% {
        content: '75%';
    }

    100% {
        content: '100%';
    }
}

@keyframes hideDown {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(30px);
    }
}

@keyframes showUp {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


@keyframes show-options {
    0% {
        opacity: 0;
    }


    99% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes intro-options {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes node {
    0% {
        transform: translateX(-100px);
        transform: rotateZ(90deg);
    }
    30% {
        transform: rotateZ(90deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}

@keyframes intro-clear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes parpito {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes down {
    0% {
        position: relative;
        top: -40px;
    }
    100% {
        top: 0px;
        position: relative;
    }
}
